body {
  background: #f0f0f0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  background: white;
  padding: 100px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

button {
  font-size: 16px;
  padding: 10px 50px;
  margin: 5px;
  cursor: pointer;
}

#loading {
  font-weight: bold;
  margin-top: 10px;
  color: orange;
}

#user-card {
  margin-top: 20px;
  font-size: 18px;
}